/* 
    This style sheet stylizes the controls inside our
    jClassDesigner JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	Nathan Wood
    Version:	1.0
*/

.edit_toolbar {
    -fx-spacing: 20;
    -fx-background-color: darkseagreen;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-font-weight:bold;
    -fx-font-size:20;
}

/* CSS CLASS FOR STANDARD BUTTONS */
.button_icon {
    -fx-background-image: url('./images/Button.png')
}

/* CSS CLASS FOR PAGE EDITING BUTTONS */
.tag_button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

/* CSS CLASS FOR FILLING IN THE WORKSPACE AREA */
.workspace_area {
    -fx-background-color: #fefce0;
}

/* CSS CLASS FOR FILLING IN THE COMPONENTS AREA */
.components_area {
    -fx-background-color: #ffecd7;
}

/* CSS CLASS FOR HIGHLIGHTING VBOX OBJECT IN THE WORKSPACE */
.selected_object {
    -fx-background-color: #f4eb49;
    -fx-border-width: 6px;
    -fx-border-color: #f4eb49;
}

/* CSS CLASS FOR VBOX OBJECTS IN THE WORKSPACE */
.vbox_object {
    -fx-background-color: #ffffff;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #3f3f3d;
}

/* CSS CLASS FOR LABEL FORMATTING IN VBOX OBJECTS */
.vbox_header {
    -fx-font-color: #000000;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABEL FORMATTING IN VBOX OBJECTS */
.vbox_label {
    -fx-font-color: #000000;
    -fx-font-size: 10pt;
}

/* CSS CLASS FOR PANES TO FILL THEIR FULL REGION */
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#ccccff;
}

/* CSS CLASS FOR OUR BIG PANES */
.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

/* CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI */
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI */
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI */
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR TEXT FIELDS AT UI PROMPTS */
.prompt_text_field {
    -fx-font-size: 13pt;
}

.render_canvas {
    -fx-background-color:#ffef84;
}
